@{
    ViewData["Title"] = "Chronometer";
    Layout = (string)(ViewData["Layout"] ?? "_Layout");  
}
<h1>@ViewData["Title"]</h1>

<p>Monitor the duration of a thing. Basically a chronometer with simple chronometer features.</p>
<div class="h-50">
    <div class="position-relative w-50 h-100 bg-light border border-dark d-flex">
        <h1 id="timer" class="position-absolute top-50 start-50 translate-middle font-monospace">00:00.000</h1>
    </div>
    <div class="w-50 d-flex p-2 align-items-center justify-content-center">
        <button class="btn btn-success m-2">Start</button>
        <button class="btn btn-warning m-2" hidden>Stop</button>
        <button class="btn btn-secondary m-2">Reset</button>
    </div>
</div>

<script>  
    let startTime = 0;
    let elapsedTime = 0;
    let timerInterval;

    function timeToString(time) {
        let diffInHrs = time / 3600000;  
        let hh = Math.floor(diffInHrs);  

        let diffInMin = (diffInHrs - hh) * 60;  
        let mm = Math.floor(diffInMin);  

        let diffInSec = (diffInMin - mm) * 60;  
        let ss = Math.floor(diffInSec);  

        let diffInMs = (diffInSec - ss) * 1000;  
        let ms = Math.floor(diffInMs);  

        let formattedMM = mm.toString().padStart(2, "0");  
        let formattedSS = ss.toString().padStart(2, "0");  
        let formattedMS = ms.toString().padStart(3, "0");  

        return `${formattedMM}:${formattedSS}.${formattedMS}`;  
    }  

    function start() {  
        document.querySelector(".btn-success").hidden = true;  
        document.querySelector(".btn-warning").hidden = false;  

        startTime = Date.now() - elapsedTime;  
        timerInterval = setInterval(() => {  
            elapsedTime = Date.now() - startTime;  
            document.getElementById("timer").innerText = timeToString(elapsedTime);  
        }, 10);  
    }  

    function stop() {  
        document.querySelector(".btn-success").hidden = false;  
        document.querySelector(".btn-warning").hidden = true;  

        clearInterval(timerInterval);  
    }  

    function reset() {  
        clearInterval(timerInterval);  
        document.getElementById("timer").innerText = "00:00.000";  
        elapsedTime = 0;  
        document.querySelector(".btn-success").hidden = false;  
        document.querySelector(".btn-warning").hidden = true;  
    }  

    document.querySelector(".btn-success").addEventListener("click", start);  
    document.querySelector(".btn-warning").addEventListener("click", stop);  
    document.querySelector(".btn-secondary").addEventListener("click", reset);  
</script>
