@model List<IT_Tools_Web.DataAccess.Models.Tool>

@{
    ViewData["Title"] = "Home";
}

<h1 class="mb-4">All Tools</h1>

<div class="container">
    <div class="row">
        @foreach (var tool in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">@tool.Name</h5>
                        <p class="card-text">Category: @tool.Category</p>
                        <a asp-controller="Home" asp-action="LoadTool" asp-route-path="@tool.Path" class="btn btn-primary">Open Tool</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
