@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row">
        <div class="col-3 bg-secondary text-white p-3 d-flex flex-column m-2">
            <h3>Token generator</h3>
            <p>Generate random string with the chars you want,...</p>
        </div>
        <div class="col-3 bg-secondary text-white p-3 d-flex flex-column m-2">
            <h3>Hash text</h3>
            <p>Hash a text string using the function you need : MD5,...</p>
        </div>
    </div>
</div>
