<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IT_Tools_Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IT_Tools_Web.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    @if (ViewBag.HideLayout != true)
    {
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <form class="d-flex ms-auto">
                    <input class="form-control me-2" type="search" placeholder="Search for tools..." aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <div class="ms-3">
                    <a asp-area="" asp-controller="Home" asp-action="Login" class="btn btn-outline-danger">Log out</a>
                </div>
                <div class="ms-3">
                    <button class="btn btn-outline-dark">Buy premium</button>
                </div>
                <div class="ms-3 d-flex align-items-center gap-2">
                    <span>Username</span>
                    <img src="~/images/avatar.png" alt="User Avatar" class="rounded-circle" width="40" height="40">
                </div>

            </div>
        </div>
    </nav>
    <div class="d-flex">
        <nav class="bg-light border-end position-fixed top-0 start-0" id="sidebar" style="width: 250px; height: 100vh; padding: 15px; overflow-y:auto">
            <a class="navbar-brand text-black fs-6" asp-area="" asp-controller="Home" asp-action="Index">IT - TOOLS - GROUP - 16</a>
            <ul class="nav flex-column mt-4">
                <li>
                    <a class="btn w-100 text-start" data-bs-toggle="collapse" href="#cryptoMenu">
                        Crypto
                    </a>
                    <ul class="collapse list-unstyled ps-3" id="cryptoMenu">
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="TokenGenerator">Token generator</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="HashText">Hash text</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Bcrypt">Bcrypt</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="ULIDGenerator">ULID generator</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn w-100 text-start" data-bs-toggle="collapse" href="#converterMenu">
                        Converter
                    </a>
                    <ul class="collapse list-unstyled ps-3" id="converterMenu">
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="ColorConverter">Color converter</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="CaseConverter">Case converter</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="TextToNATOAlphabet">Text to NATO alphabet</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="IntegerBaseConverter">Integer base converter</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="RomanNumeralConverter">Roman numeral converter</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn w-100 text-start" data-bs-toggle="collapse" href="#webMenu">
                        Web
                    </a>
                    <ul class="collapse list-unstyled ps-3" id="webMenu">
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="EncodeDecodeURL">Encode/decode URL-formatted strings</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="EscapeHTML">Escape HTML entities</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="DeviceInformation">Device information</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="BasicAuthGenerator">Basic auth generator</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="SlugifyString">Slugify string</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn w-100 text-start" data-bs-toggle="collapse" href="#imgVidMenu">
                        Images & Videos
                    </a>
                    <ul class="collapse list-unstyled ps-3" id="imgVidMenu">
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="QRCodeGenerator">QR Code Generator</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn w-100 text-start" data-bs-toggle="collapse" href="#developmentMenu">
                        Development
                    </a>
                    <ul class="collapse list-unstyled ps-3" id="developmentMenu">
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="GitCheatsheet">Git cheatsheet</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="RandomPortGenerator">Random port generator</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="RegexCheatsheet">Regex cheatsheet</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn w-100 text-start" data-bs-toggle="collapse" href="#networkMenu">
                        Network
                    </a>
                    <ul class="collapse list-unstyled ps-3" id="networkMenu">
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="IPv4Converter">IPv4 address converter</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="IPv4RangeExpander">IPv4 range expander</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn w-100 text-start" data-bs-toggle="collapse" href="#mathMenu">
                        Math
                    </a>
                    <ul class="collapse list-unstyled ps-3" id="mathMenu">
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="MathEvaluator">Math evaluator</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="PercentageCalculator">Percentage calculator</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn w-100 text-start" data-bs-toggle="collapse" href="#measurementMenu">
                        Measurement
                    </a>
                    <ul class="collapse list-unstyled ps-3" id="measurementMenu">
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Chronometer">Chronometer</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="TemperatureConverter">Temperature converter</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn w-100 text-start" data-bs-toggle="collapse" href="#textMenu">
                        Text
                    </a>
                    <ul class="collapse list-unstyled ps-3" id="textMenu">
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="LoremIpsumGenerator">Lorem ipsum generator</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="TextStatistics">Text statistics</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="StringObfuscator">String obfuscator</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="EmojiPicker">Emoji picker</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="NumeronymGenerator">Numeronym generator</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn w-100 text-start" data-bs-toggle="collapse" href="#dataMenu">
                        Data
                    </a>
                    <ul class="collapse list-unstyled ps-3" id="dataMenu">
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="PhoneParserAndFormatter">Phone parser and formatter</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <main class="flex-grow-1 p-4" style="margin-left:250px">  
           @RenderBody()  
        </main>
    </div>
	}
	else
	{
		@RenderBody()
	}
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
